.Searchbar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid black;
  overflow: hidden;
}

.Searchbar-icon {
  margin-left: 12px;
}

.Searchbar-input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}

.Searchbar-input::placeholder {
  font: inherit;
  font-size: 18px;
}
